.App {
  text-align: center;
}

.container-bg {
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

}

#hex-grid .grid {
  position: absolute;
  top: 0;
  left: 0;
  background: url(/public/grid.svg)
  repeat;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: 500px;
}

#hex-grid .light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8em;
  height: 8em;
  filter: blur(25px);
  background: linear-gradient(
    90deg,#00ff00 0%, #ffffff 100%
  );
  z-index: 0;
}

.circular-menu {
  position: relative;
  font-size: 18px;
  border-radius: 50%;
}

.inner-circle {
  content: '';
  background: #000000;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.918);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle i {
  color: #c4c4c4;
  font-size: 0.9em;
  position:fixed;

}

.panel {
  background: rgba(0,0,0,0.5);
  text-decoration: none;
  width: 11.7em;
  height: 10em;
  position: absolute;
  top: 50%;
  color: #fff;
  transform-origin: top center;
  transition: width 0.1s, height 0.1s, opacity 0.1s;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  backdrop-filter: blur(4px);
  position:fixed;
}

.panel:nth-child(1) {
  transform: translateX(-50%);

}
.panel:nth-child(1) i{
  transform: translateX(-50%);
}

.panel:nth-child(2) {
  transition-delay: 0.1s;
  transform: translateX(-50%) rotate(60deg);
}
.panel:nth-child(2) {
  transform: translateX(-50%) rotate(60deg);
}

.panel:nth-child(3) {
  transition-delay: 0.2s;
  transform: translateX(-50%) rotate(120deg);
}

.panel:nth-child(3) {
  transform: translateX(-50%) rotate(120deg);
}

.panel:nth-child(4) {
  transition-delay: 0.3s;
  transform: translateX(-50%) rotate(180deg);
}

.panel:nth-child(4) i {
  transform: translateX(-50%) rotate(-180deg);
}
.panel:nth-child(5) {
  transition-delay: 0.4s;
  transform: translateX(-50%) rotate(240deg);
}

.panel:nth-child(5) i {
  transform: translateX(-50%) rotate(-240deg);
}
.panel:nth-child(6) {
  transition-delay: 0.5s;
  transform: translateX(-50%) rotate(300deg);
}

.panel:nth-child(6) i {
  transform: translateX(-50%) rotate(-300deg);
}

.panel:hover {
  background: rgba(24, 219, 17, 0.8);
  color: rgb(255, 255, 255);

}

.panel i {
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
}
.panel i:hover {
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #00ff00!important;
}
.hover-link:hover {
  color: #00ff00!important;
  background-color: transparent!important;
}

.panel {
  opacity: 0;
  width: 0;
  height: 0;
}

a:hover {
  text-decoration: none;

}

.circular-menu:hover .panel {
  opacity: 1;
  height: 10em;
  width: 11.7em;
}

.works {
  margin-left: -25px;
  transform:rotate(-180deg);
}

/* .getInTouch {
  margin-left: 10px;
  transform: translateX(50%) rotate(-300deg);
  text-decoration: none;
  color: rgb(255, 255, 255);
  
} */

.title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 5%;
}

.menu-btn {
  color: #05ad05;
  text-align: center;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 0.5;
  }

  100% {
      opacity: 0;
  }

}

.feedback-btn {
  position: absolute;
  width: 25px;
  height: 100px;
  background: #000000;
  top: 45%;
  right: 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.918);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-out;
  
}

.feedback-btn:hover {
  width: 40px;
}

.feedback-txt {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  position: absolute;
  right: -10px;
  top: 22px;
  color: #fff;
  font-size: 20px;
  transition: 0.2s ease-out;
  margin-top: 21px;
  margin-right: 12px;
}

.feedback-btn:hover .feedback-txt {
  right: -6px;
}
.feedback-btn2 {
  position: absolute;
  width: 25px;
  height: 100px;
  background: #000000;
  top: 62%;
  right: 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.918);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;

}
.feedback-btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.feedback-btn2:hover {
  width: 40px;
}


.feedback-txt2 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  position: absolute;
  right: -10px;
  top: 22px;
  color: #fff;
  font-size: 40px;
  transition: 0.2s ease-out;
  margin-top: 7px;
  margin-right: 2px;
}

.feedback-btn2:hover .feedback-txt2 {
  right: -6px;
}
